/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  color:#080808;
  background-color:#160202;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#0e0d0d;
 
}


#masthead {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#080808;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:rgb(10, 10, 10);
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:#111166;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:rgb(5, 5, 5);
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}
/* override bootstrap styles */
/* LOGIN FORM */

	.form {
		display: flex;
		flex-direction: column;
	}

	.form  input{
		border: none;
		border-bottom: 1px solid black;
		outline: none;
		background: none;
		display: block;
		/* margin:  auto; */
		text-align: center;
		border: 2px solid #3498db;
		padding: 10px 10px;
		width: 250px;
		outline: none;
		color: rgb(0, 0, 0);
		border-radius: 24px;
		transition: 0.25s;
	
	}
	.form  input:focus {
		 border-color: #2ecc71;
		 width: 260px;
	}
	hr{
		height: 5px;
		background-color: #3498db;
		width: 320px;
		margin: 15px -20px 5px -20px;
	}

	.tag{
		text-align: center;
		font-size: 20px;
		margin: 7px 0px 7px 0px;

		/* margin: auto; */
	}
	.icons{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.form .submit{
    position:absolute;
		margin-left: 3cm;
    background: none;
    display: block;
    margin: auto;
    width: 4cm;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px 20px;
    outline: none;
    color: rgb(19, 18, 18);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer

	}
	.form .submit:hover {
		background: #2ecc71
	}
	/* Login info end */


	/* Sign Up form */

.form .SignUp_form{
	display: none;
	flex-direction: column;
}

.form .SignUp_form input{
	border: none;
	border-bottom: 1px solid rgb(226, 220, 220);
	width: 250px;
	outline: none;
	padding: 8px;
	margin: 0px;
}