<div id="masthead">  
  <div>
    <div class="row">
      <div >
        <h1>Admin Login
          <!-- <p class="lead"></p> -->
        </h1>
      </div>
      
    </div> 
  </div>
  
</div>

<body>
<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <!-- <div class="panel text-center" style="margin-top:2em ;"> -->
        <div class="panel-body">
          <div class="container">
       
        </div>
        <div class="card-body ">
          <form   class="form" (ngSubmit)="loginUser()">
            <!-- <label for="" #lblName  id="lblName" style="background-color: rgb(219, 78, 78);color: rgb(12, 12, 12);" >Username or Password Incorrect</label> -->
            <div class="login_form"><br>
              <label for="uname1" >Username:</label><br>
              <input required type="text" required name="uname" [(ngModel)]="user.uname" required />
           
              </div>
            <div class="login_form" ><br>
              <label>Password:   </label><br>
              <input type="password" required name="password" [(ngModel)]="user.password"/>
              </div><br>
            
            <button type="submit" class="submit btn btn-success float-right"   >Login</button>
          </form>                             
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>